/* AboutPage.css */

/* Set the height of the about-page to 100vh (viewport height) */
.about-page {
    height: 100vh;
    overflow: auto; /* Add overflow property to enable scrolling if content exceeds viewport height */
  }
  
  /* Style for full-height content */
  .full-height-content {
    height: 100%; /* Make the content within the about-page occupy the full height */
  }
  
  .aboutus-h2{
    color:black
  }
  .about-row{
    display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  min-height: 100vh; /* Full height of the viewport */
  }

  .aboutus-disclamer{
    color: red;
    font-weight: 500;
  }
  .aboutus-image {
    height: 100vh; /* Make the image column take full viewport height */
    padding: 0; /* Remove padding to ensure image can fully cover the area */
    display: flex;
    justify-content: center; /* Center image horizontally */
    align-items: center; /* Center image vertically */
  }
  
  .aboutus-image img {
    width: 100vw;
    height: 100vh; 
    object-fit: cover; 
  }