.top-right {
    position: absolute;
    top: 10px; 
    right: 10px; 
  }

  .username-text {
    color: white; 
    margin-right: 10px; 
    position: absolute;
    top: 10px; 
    right: 100px; 
  }

  .main-app {
    background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    

  }