.top-right {
    position: absolute;
    top: 10px; 
    right: 10px; 
  }

  .username-text {
    color: white; 
    margin-right: 10px; 
    position: absolute;
    top: 10px; 
    right: 100px; 
  }
  .add-workspace-item {
    background-color: green;
    color: white; 
  }
  
  .selected-workspace {
    background-color: red !important; /* Change the background color to red */
    color: white !important; /* Change the text color to white */
    font-weight: bold; /* Make the text bold */
  }