.top-right {
    position: absolute;
    top: 10px; /* Adjust the top position as needed */
    right: 10px; /* Adjust the right position as needed */
  }

  .username-text {
    color: white; /* Customize the color as needed */
    margin-right: 10px; /* Adjust the margin as needed */
    position: absolute;
    top: 10px; /* Adjust the top position as needed */
    right: 100px; /* Adjust the right position as needed */
  }
  .add-workspace-item {
    background-color: green; /* Set the background color to green */
    color: white; /* Set the text color to white */
  }