/* Profile.css */
.profile {
    background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    min-height: calc(100vh - 56px); /* Adjust based on your navbar height */
    padding: 20px;
    color: #ffffff; /* Ensure text is readable on the gradient background */
    display: flex;
    flex-direction: column;
    align-items: left; /* Center content for better visual */
  }
  
  .profile-h1 {
    color: #ffffff;
    margin-bottom: 20px;
  }
  
  label {
    margin-right: 10px;
  }
  
  input[type="text"], input[type="email"] {
    padding: 8px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ced4da;
  }
  
  
  

  .profile-container {
    background: white;
    backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    max-width: 600px;
    width: 100%;
    color:black;
  }
  